/**
* This is the default window and we will have to hide the pane (side)
*/

.main {height:98vh; display:grid; grid-template-columns:70% auto; gap:4px;
grid-template-rows:70px 40px auto 32px;
padding-left:2%; padding-right:2%;
}
.main .header { display:grid; grid-template-columns:64px auto; gap:4px}
.main .header .title {font-size:28px; font-weight:bold}
.main .header img {width:55px; height:55px;}
.main .content{
    align-self:center;
}
.main .pane {border-left:1px solid #CAD5E0; height:100%; padding:8px;}

.busy-loading {
    background: linear-gradient(90deg, #d3d3d3,#f3f3f3, #000000, #d3d3d3);
    animation: gradient 15s ease infinite;
    height:28; width:100%;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

