.main {
    gap:4px;
    font-size: 18px;
    font-weight:lighter;
    font-family:sans-serif;
    margin:1%;
    margin-left:10%;
    margin-right:10%;
    gap:4px;
}
.main .header { height:64px;
   display:grid;
   grid-template-columns: 50px auto;
    border-bottom: 2px double #CAD5E0;
    padding:4px;
    gap:4px;
    align-items: center;

    
}
.main .header .icon {width:50px; height:50px;}
.main .header .icon img {width:48px; height:48px;}
.main .header .title { font-size:32px; text-transform: uppercase; font-weight:bold}
.main .header .subtitle {font-style:italic;font-size:14px; color:gray; text-transform: capitalize;}


.main .menu {border:0; background-color: #f3f3f3;}
/* .main .content img{
    width:99%;
    border:1px solid #CAD5E0;
    padding:8px;
    background-color:#f3f3f3;
} */

/* .main .content table thead tr:first-child {
    padding:4px;
    background: #d3d3d3;
 } */
 blockquote {
    border-left:8px solid #D3D3D3; padding:4px;
    }
.main .content table {border-spacing: 2;}    
.main .content table .active {font-size:14px}
.main .content .banner {
    height:300px; margin:4px;
    padding:0px; 
    
}
.code { margin-top:8px;
    background:black; color:#d3d3d3;padding:10px; text-wrap: nowrap;
    font-family: 'Courier New', Courier, monospace; font-weight:lighter; font-size:13px;}
 .main .pane { height:auto;}
 .main .pane iframe{ width:100%; border:0px; height:80%;}

 .dialog-title {
    background-color:darkgray;color:#FFFFFF;
    text-transform:capitalize; font-weight:bold; align-items:center;display:grid; grid-template-columns:auto 32px;
}