.menu {
    padding:8px;
    border:1px solid #CAD5E0 ;
    
    display:grid;
    grid-column: 1 / span 2;
    grid-template-columns: 92px repeat(7,auto);
    gap:4px;
    text-transform: capitalize;
    align-items: center;
    
}
.menu .icon {padding:4px;}
.menu .icon img {width:30px; height:30px;}
.menu .item {
    font-weight:bold;
    cursor:pointer;
    padding:4px;
    text-align: left;
   
    
   
    
    
}

.menu .sub-menu {
    
    display:none;
    position:absolute;
    
    margin-top:2px;
    min-width:10%;
    z-index:90;
    padding:8px;
    font-weight:lighter;
    text-align:left;
    align-items:left; 
    background-color: rgba(255,255,255,0.8);
    
}

.menu .item:hover .sub-menu{
    
    display:block;
    height:auto;    
}