
.main{
    background-image: linear-gradient(0deg, #5ED9FF 0%, #416AD9 100%);
    color:#FFFFFF;
}
.main .menu {background-color: rgba(255,255,255,0.8); color:#000000;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}
.menu .sub-menu {
    
    color:#000000;}
.people .person {
    background-color: rgba(255,255,255,0.8); color:#000000;
}    
.header{
    
    border-bottom:2px solid #CAD5E0;
}
.jxmodal {
    border: 4px solid #CAD5E0;
}

.active:hover {
    border-bottom-color: #f65000;
}

.footer {background-color:rgba(255,255,255,0.8); margin:4px; padding:8px;}